<div class="container homepage">




<div>
<h4><%= @htmlredact.html_safe %></h4>
</div>


<div class="listprop">
  <ol reversed>

    <%session[:queries].reverse_each do |mot, frequence| %>
    <li>
       <%=mot %> : <%= frequence %>
    </li>
  <% end %>
  </ol>
</div>


<div class="formulaire">
<%= form_tag root_path, method: :get  do  %>
  <%= text_field_tag :query,
    "",
    class: "form-control",
    autofocus: true
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
<% end %>



</div>
