<div class="container homepage">

<h2><%= @redactedtext %></h2>

<div class="listprop">
  <ol>

    <%session[:queries].reverse_each do |mot, frequence| %>
    <li>
       <%=mot %> : <%= frequence %>
    </li>
  <% end %>
  </ol>
</div>


<div class="formulaire">
<%= form_tag root_path, method: :get  do  %>
  <%= text_field_tag :query,
    "",
    class: "form-control",
    autofocus: true
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
<% end %>




<div> <%=@lyrics%></div>

<div>
Wordbag brut :
<%= session[:wordbag] %>
</div>

<div>
Wordbag :
<%= @wordbag %>
</div>

<div>
Indexé :
<%= @indexedlyricshash %>
</div>


  <div><%= session[:queries]  %></div>


</div>
