<div class="container homepage row">

  <div class = "d-flex col-12">

    <div class="lyrics">
      <h4><%= @htmlredact.html_safe %></h4>
    </div>

    <div class="rightcol">
        <div class="listprop">
          <ol reversed id="colcol">
            <%session[:queries].reverse_each do |mot, frequence| %>
            <li>
              <%=mot %> : <%= @arrayofwords.count(mot) %>
            </li>
            <% end %>
          </ol>
        </div>
        <div>
          <%= link_to "Reset", reset_path, class: "btn btn-primary"  %>
        </div>
    </div>


    </div>

    <div class="formulaire">
          <%= form_tag root_path, method: :get  do  %>
            <%= text_field_tag :query,
              "",
              class: "form-control",
              autofocus: true,
              autocomplete: "off"
            %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>
    </div>
  </div>
</div>
