<div class="container homepage">

<h4><%= @redactedtext %></h4>

<div class="listprop">
  <ol reversed>

    <%session[:queries].reverse_each do |mot, frequence| %>
    <li>
       <%=mot %> : <%= frequence %>
    </li>
  <% end %>
  </ol>
</div>


<div class="formulaire">
<%= form_tag root_path, method: :get  do  %>
  <%= text_field_tag :query,
    "",
    class: "form-control",
    autofocus: true
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
<% end %>




<div> <%=@lyrics%></div>

<div>
Wordbag :
<%= @wordbag %>
</div>


<div><%= session[:queries]  %></div>

<div> split : <%= session[:lyrics].split %></div>


</div>
