<!DOCTYPE html>
<html>
  <head>
    <title>Sandbox</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <header style="width: 100vw; text-align: center; font-size: larger;">
    <div>
          <%= link_to "Reset", reset_path, class: "btn btn-ghost", style: "position: absolute; top: 0; right: 0;"  %>
    </div>
    <b>Song Salad</b>

    </header>
    <%= yield %>
  </body>
</html>
